.hover:hover{
    text-decoration: underline;
    color: blue;
    border: 2px solid blue;
    padding: 5px;
    background-color: blue;
}
#head{
    text-align: center;
    margin-top: 5px;
    color: blue;
}